<!DOCTYPE html>

<html lang="en">
	<head>
		{% load static %}

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'shoppinglist/style.css' %}">

		<title>Lists</title>
	</head>

	<body>
		{% if shopping_lists %}
			<ul>
				{% for list in shopping_lists %}
				<li><a href="{% url 'shoppinglist:detail' list.id %}">{{ list.list_name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No lists available.</p>
		{% endif %}
	</body>
</html>
